<div style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex;padding-top: 20px">
        <div><strong>Course:</strong> Programming for Data Science</div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Class:</strong></div>
        <div></div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Group:</strong></div>
    </div>
    <div>
        <div style="display: flex;padding-top: 20px">
            <div style="padding-right: 10px;"><strong>Members:</strong></div>
            <div></div>
        </div>
        <table style="font-size: 15px; display:flex;padding-top: 20px">
            <tr>
                <th>No.</th>
                <th>Student ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td> </td>
                <td style="text-align:left;">Châu Anh</td>
            </tr>
            <tr>
                <td>2</td>
                <td>22127014</td>
                <td style="text-align:left;">Nguyễn Kim Anh</td>
            </tr>
            <tr>
                <td>3</td>
                <td></td>
                <td style="text-align:left;">Dịu Huyền</td>
            </tr>
        </table>
    </div>
    <div style="font-size: 25px ;font-weight: 800; text-align: center;padding-top: 20px;">FINAL PROJECT</div>
    <div style="font-size: 20px ;font-weight: 800; text-align: center;padding-top: 20px;">COVID - 19 ANALYSIS - DATA EXPLORATION</div>
</div>

# **Data Exploration**
## **Import necessary libraries**

In [134]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Load data**
Read the data from the file `worldometer_data.csv` and display the first 5 rows of the data.

In [135]:
# worldometer_data.csv
worldometer_data = pd.read_csv("./data/worldometer_data.csv")
worldometer_data.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

Every single row in this dataset represent the number of cases in a country that get updated by www.worldometers.info

## **Number of rows and columns**
### For `worldometer_data`
Number of rows and columns in the dataset `worldometer_data` will store in the variables `worldometer_rows` and `worldometer_cols` respectively.

In [136]:
worldometer_rows, worldometer_cols = worldometer_data.shape
print(f"Worldometer data has {worldometer_rows} rows and {worldometer_cols} columns")

Worldometer data has 209 rows and 16 columns

#### Meaning of each column:

In [137]:
worldometer_data.columns

Index(['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
       'TotalTests', 'Tests/1M pop', 'WHO Region'],
      dtype='object')

<table>
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Country/Region</td>
        <td>Name of the country or region.</td>
    </tr>
    <tr>
        <td>Continent</td>
        <td>Continent of the country or region.</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>Population of the country or region.</td>
    </tr>
    <tr>
        <td>TotalCases</td>
        <td>Total number of cases COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewCases</td>
        <td>New cases of COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>TotalDeaths</td>
        <td>Total number of deaths due to COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewDeaths</td>
        <td>New deaths due to COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>TotalRecovered</td>
        <td>Total number of recovered cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewRecovered</td>
        <td>New recovered cases of COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>ActiveCases</td>
        <td>Total number of active cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>Serious,Critical</td>
        <td>Total number of serious cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>Tot Cases/1M pop</td>
        <td>Total number of cases of COVID-19 per 1 million population in the country or region.</td>
    </tr>
    <tr>
        <td>Deaths/1M pop</td>
        <td>Total number of deaths due to COVID-19 per 1 million population in the country or region.</td>
    </tr>
    <tr>
        <td>TotalTests</td>
        <td>Total number of tests performed in the country or region.</td>
    </tr>
    <tr>
        <td>Tests/1M pop</td>
        <td>Total number of tests performed per 1 million population in the country or region.</td>
    </tr>
</table>

#### Displace the data types of each column in `worldometer_data` dataset

Using `info()` function to display the data types of each column in the dataset `worldometer_data`.

In [138]:
worldometer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.2+ KB

As we can see, the data types of each column in the dataset `worldometer_data` might be correct and we don't need to change any data type. But we need to check the missing values in the dataset.

## **Hanling missing values**

### For `worldometer_data`
Check the missing values in the dataset `worldometer_data`:
- First, we will check how many unique values in each column of the dataset `worldometer_data` by using `isna()` and `sum()` function.

In [139]:
worldometer_data.isna().sum()

Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

- Then, we will check the percentage of missing values in each column of the dataset `worldometer_data`.

In [140]:
def proportion_of_missing_values(data):
    for column in data.columns:
        missing_values = data[column].isna().sum()
        print(f"{column:<30} type {str(type(data[column][0])):<30} {missing_values / len(data) * 100:.2f}%")
        
proportion_of_missing_values(worldometer_data)

Country/Region                 type <class 'str'>                  0.00%
Continent                      type <class 'str'>                  0.48%
Population                     type <class 'numpy.float64'>        0.48%
TotalCases                     type <class 'numpy.int64'>          0.00%
NewCases                       type <class 'numpy.float64'>        98.09%
TotalDeaths                    type <class 'numpy.float64'>        10.05%
NewDeaths                      type <class 'numpy.float64'>        98.56%
TotalRecovered                 type <class 'numpy.float64'>        1.91%
NewRecovered                   type <class 'numpy.float64'>        98.56%
ActiveCases                    type <class 'numpy.float64'>        1.91%
Serious,Critical               type <class 'numpy.float64'>        41.63%
Tot Cases/1M pop               type <class 'numpy.float64'>        0.48%
Deaths/1M pop                  type <class 'numpy.float64'>        10.53%
TotalTests                     type <class 'numpy.float64'>        8.61%
Tests/1M pop                   type <class 'numpy.float64'>        8.61%
WHO Region                     type <class 'str'>                  11.96%

As we can see, the dataset `worldometer_data` has significant missing values in the columns `NewCases`, `NewDeaths`, `NewRecovered` (more than 50% missing values). We will drop these columns.

In [141]:
worldometer_data = worldometer_data.drop(columns=["NewCases", "NewDeaths", "NewRecovered"])
worldometer_data.head()

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,162804.0,2576668.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,98644.0,2047660.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,41638.0,1377384.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,14606.0,676357.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,9604.0,387316.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

Check the missing values in the dataset `worldometer_data` after dropping the columns `NewCases`, `NewDeaths`, `NewRecovered`.

In [142]:
proportion_of_missing_values(worldometer_data)

Country/Region                 type <class 'str'>                  0.00%
Continent                      type <class 'str'>                  0.48%
Population                     type <class 'numpy.float64'>        0.48%
TotalCases                     type <class 'numpy.int64'>          0.00%
TotalDeaths                    type <class 'numpy.float64'>        10.05%
TotalRecovered                 type <class 'numpy.float64'>        1.91%
ActiveCases                    type <class 'numpy.float64'>        1.91%
Serious,Critical               type <class 'numpy.float64'>        41.63%
Tot Cases/1M pop               type <class 'numpy.float64'>        0.48%
Deaths/1M pop                  type <class 'numpy.float64'>        10.53%
TotalTests                     type <class 'numpy.float64'>        8.61%
Tests/1M pop                   type <class 'numpy.float64'>        8.61%
WHO Region                     type <class 'str'>                  11.96%

With the numeric data type columns (int, float), we will fill the missing values with 0.

In [143]:
# Replace missing values of numeric columns with 0
worldometer_data = worldometer_data.fillna(0)

With the object data type columns, we will fill the missing values with the global constant `No WHO Region` for the column `WHO Region` and `Unknown` for the column `Continent`.

In [144]:
# Replace missing values (0) of WHO Region columns with "N/A"
worldometer_data["WHO Region"] = worldometer_data["WHO Region"].replace(0, "No WHO Region")

In [145]:
# Replace missing values of Continent columns with "Unknown"
worldometer_data["Continent"] = worldometer_data["Continent"].replace(0, "Unknown")

Check the missing values in the dataset `worldometer_data` after handling the missing values.

In [148]:
worldometer_data.isna().sum()

Country/Region      0
Continent           0
Population          0
TotalCases          0
TotalDeaths         0
TotalRecovered      0
ActiveCases         0
Serious,Critical    0
Tot Cases/1M pop    0
Deaths/1M pop       0
TotalTests          0
Tests/1M pop        0
WHO Region          0
dtype: int64

## **Handling duplicated values in the dataset**
### For `worldometer_data`

Find out the number of duplicated values in the dataset `worldometer_data` by using `duplicated()` and `sum()` from `pandas` library.

In [147]:
worldometer_data.duplicated().sum()

0

Thus, there is no duplicated row in the dataset `worldometer_data`.