<div style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex;padding-top: 20px">
        <div><strong>Course:</strong> Programming for Data Science</div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Class:</strong></div>
        <div></div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Group:</strong></div>
    </div>
    <div>
        <div style="display: flex;padding-top: 20px">
            <div style="padding-right: 10px;"><strong>Members:</strong></div>
            <div></div>
        </div>
        <table style="font-size: 15px; display:flex;padding-top: 20px">
            <tr>
                <th>No.</th>
                <th>Student ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td> 22127008 </td>
                <td style="text-align:left;">Đặng Châu Anh</td>
            </tr>
            <tr>
                <td>2</td>
                <td>22127014</td>
                <td style="text-align:left;">Nguyễn Kim Anh</td>
            </tr>
            <tr>
                <td>3</td>
                <td> 22127170 </td>
                <td style="text-align:left;">Trần Dịu Huyền</td>
            </tr>
        </table>
    </div>
    <div style="font-size: 25px ;font-weight: 800; text-align: center;padding-top: 20px;">FINAL PROJECT</div>
    <div style="font-size: 20px ;font-weight: 800; text-align: center;padding-top: 20px;">COVID - 19 ANALYSIS - DATA EXPLORATION</div>
</div>

# **Data Exploration**
## **Import necessary libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Load data**
Read the data from the file `worldometer_data.csv` and display the first 5 rows of the data.

In [26]:
# worldometer_data.csv
worldometer_data = pd.read_csv(r"./data/worldometer_data.csv")
worldometer_data.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

Every single row in this dataset represent the number of cases in a country that get updated by www.worldometers.info

---
Read the data from the file `country_wise_lastest.csv`

In [27]:
country_wise_lastest = pd.read_csv(r"./data/country_wise_latest.csv")
country_wise_lastest

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

---
Read the data from the file `covid_19_clean_complete.csv`

In [55]:
clean_complete = pd.read_csv(r"./data/covid_19_clean_complete.csv")
clean_complete

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.939110,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.153300,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.033900,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.506300,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.202700,17.873900,2020-01-22,0,0,0,0,Africa
...,...,...,...,...,...,...,...,...,...,...
49063,NaN,Sao Tome and Principe,0.186400,6.613100,2020-07-27,865,14,734,117,Africa
49064,NaN,Yemen,15.552727,48.516388,2020-07-27,1691,483,833,375,Eastern Mediterranean
49065,NaN,Comoros,-11.645500,43.333300,2020-07-27,354,7,328,19,Africa
49066,NaN,Tajikistan,38.861000,71.276100,2020-07-27,7235,60,6028,1147,Europe
49067,NaN,Lesotho,-29.610000,28.233600,2020-07-27,505,12,128,365,Africa

Every single row in this dataset represent the number of cases in a country that daily updated.

## **Number of rows and columns**

### For `worldometer_data`
#### Number of rows and columns
Number of rows and columns in the dataset `worldometer_data` will store in the variables `worldometer_rows` and `worldometer_cols` respectively.

In [28]:
worldometer_rows, worldometer_cols = worldometer_data.shape
print(f"Worldometer data has {worldometer_rows} rows and {worldometer_cols} columns")

Worldometer data has 209 rows and 16 columns

#### Column details

In [29]:
worldometer_data.columns

Index(['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases',
       'TotalDeaths', 'NewDeaths', 'TotalRecovered', 'NewRecovered',
       'ActiveCases', 'Serious,Critical', 'Tot Cases/1M pop', 'Deaths/1M pop',
       'TotalTests', 'Tests/1M pop', 'WHO Region'],
      dtype='object')

<table>
    <tr>
        <th>Attribute</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>Country/Region</td>
        <td>Name of the country or region.</td>
    </tr>
    <tr>
        <td>Continent</td>
        <td>Continent of the country or region.</td>
    </tr>
    <tr>
        <td>Population</td>
        <td>Population of the country or region.</td>
    </tr>
    <tr>
        <td>TotalCases</td>
        <td>Total number of cases COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewCases</td>
        <td>New cases of COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>TotalDeaths</td>
        <td>Total number of deaths due to COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewDeaths</td>
        <td>New deaths due to COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>TotalRecovered</td>
        <td>Total number of recovered cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>NewRecovered</td>
        <td>New recovered cases of COVID-19 in the country or region updated in the latest day.</td>
    </tr>
    <tr>
        <td>ActiveCases</td>
        <td>Total number of active cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>Serious,Critical</td>
        <td>Total number of serious cases of COVID-19 in the country or region.</td>
    </tr>
    <tr>
        <td>Tot Cases/1M pop</td>
        <td>Total number of cases of COVID-19 per 1 million population in the country or region.</td>
    </tr>
    <tr>
        <td>Deaths/1M pop</td>
        <td>Total number of deaths due to COVID-19 per 1 million population in the country or region.</td>
    </tr>
    <tr>
        <td>TotalTests</td>
        <td>Total number of tests performed in the country or region.</td>
    </tr>
    <tr>
        <td>Tests/1M pop</td>
        <td>Total number of tests performed per 1 million population in the country or region.</td>
    </tr>
</table>

#### Displace the data types of each column in `worldometer_data` dataset

Using `info()` function to display the data types of each column in the dataset `worldometer_data`. Reviewing the data types of each column to ensure they are appropriate (e.g., numerical columns are in integer/float format, categorical columns are in string/object format).

In [30]:
worldometer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country/Region    209 non-null    object
 1   Continent         208 non-null    object
 2   Population        208 non-null    float64
 3   TotalCases        209 non-null    int64
 4   NewCases          4 non-null      float64
 5   TotalDeaths       188 non-null    float64
 6   NewDeaths         3 non-null      float64
 7   TotalRecovered    205 non-null    float64
 8   NewRecovered      3 non-null      float64
 9   ActiveCases       205 non-null    float64
 10  Serious,Critical  122 non-null    float64
 11  Tot Cases/1M pop  208 non-null    float64
 12  Deaths/1M pop     187 non-null    float64
 13  TotalTests        191 non-null    float64
 14  Tests/1M pop      191 non-null    float64
 15  WHO Region        184 non-null    object
dtypes: float64(12), int64(1), object(3)
memory usage: 26.3+ KB

As we can see, the data types of each column in the dataset `worldometer_data` might be correct and we don't need to change any data type. But we need to check the missing values in the dataset.

### For `country_wise_lastest`
#### Number of rows and columns
Number of rows and columns in the dataset `country_wise_lastest` will stored in the variables `country_wise_lastest_rows` and `country_wise_lastest_cols` respectively.

In [31]:
country_wise_lastest_rows, country_wise_lastest_cols = country_wise_lastest.shape
print(country_wise_lastest_cols)
print(country_wise_lastest_rows)

15
187

#### Column details
[Explain the meaning of each column in the dataset `country_wise_lastest`]

In [32]:
country_wise_lastest.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

#### Datatype of each columns

In [33]:
country_wise_lastest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country/Region          187 non-null    object
 1   Confirmed               187 non-null    int64
 2   Deaths                  187 non-null    int64
 3   Recovered               187 non-null    int64
 4   Active                  187 non-null    int64
 5   New cases               187 non-null    int64
 6   New deaths              187 non-null    int64
 7   New recovered           187 non-null    int64
 8   Deaths / 100 Cases      187 non-null    float64
 9   Recovered / 100 Cases   187 non-null    float64
 10  Deaths / 100 Recovered  187 non-null    float64
 11  Confirmed last week     187 non-null    int64
 12  1 week change           187 non-null    int64
 13  1 week % increase       187 non-null    float64
 14  WHO Region              187 non-null    object
dtypes: float64(4), int64(9), object(2)
memory usage: 22.0+ KB

The data types (int64, float64, and object) are appropriate for the types of values stored in each column.

### For `covid_19_clean_complete`
#### Number of rows and columns
Number of rows and columns in the dataset `covid_19_clean_complete` will stored in the variables `clean_complete_rows` and `clean_complete_cols` respectively.

In [47]:
clean_complete_rows, clean_complete_cols = clean_complete.shape
print("Number of rows:", clean_complete_rows)
print("Number of columns:", clean_complete_cols)

Number of rows: 49068
Number of columns: 10

#### Column details
[Explain the meaning of each column in the dataset `covid_19_clean_complete`]

In [56]:
clean_complete.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

#### Datatype of each columns

In [49]:
clean_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

## **Handling missing values**

### For `worldometer_data`
Check the missing values in the dataset `worldometer_data`:

Identifying any missing values is essential for data quality assurance. This step allows us to handle incomplete data or remove unnecessary duplicates, ensuring a clean dataset.
- First, we will check how many unique values in each column of the dataset `worldometer_data` by using `isna()` and `sum()` function.

In [34]:
worldometer_data.isna().sum()

Country/Region        0
Continent             1
Population            1
TotalCases            0
NewCases            205
TotalDeaths          21
NewDeaths           206
TotalRecovered        4
NewRecovered        206
ActiveCases           4
Serious,Critical     87
Tot Cases/1M pop      1
Deaths/1M pop        22
TotalTests           18
Tests/1M pop         18
WHO Region           25
dtype: int64

- Then, we will check the percentage of missing values in each column of the dataset `worldometer_data`.

In [35]:
def proportion_of_missing_values(data):
    for column in data.columns:
        missing_values = data[column].isna().sum()
        print(f"{column:<30} type {str(type(data[column][0])):<30} {missing_values / len(data) * 100:.2f}%")
        
proportion_of_missing_values(worldometer_data)

Country/Region                 type <class 'str'>                  0.00%
Continent                      type <class 'str'>                  0.48%
Population                     type <class 'numpy.float64'>        0.48%
TotalCases                     type <class 'numpy.int64'>          0.00%
NewCases                       type <class 'numpy.float64'>        98.09%
TotalDeaths                    type <class 'numpy.float64'>        10.05%
NewDeaths                      type <class 'numpy.float64'>        98.56%
TotalRecovered                 type <class 'numpy.float64'>        1.91%
NewRecovered                   type <class 'numpy.float64'>        98.56%
ActiveCases                    type <class 'numpy.float64'>        1.91%
Serious,Critical               type <class 'numpy.float64'>        41.63%
Tot Cases/1M pop               type <class 'numpy.float64'>        0.48%
Deaths/1M pop                  type <class 'numpy.float64'>        10.53%
TotalTests                     type <class 'numpy.float64'>        8.61%
Tests/1M pop                   type <class 'numpy.float64'>        8.61%
WHO Region                     type <class 'str'>                  11.96%

As we can see, the dataset `worldometer_data` has significant missing values in the columns `NewCases`, `NewDeaths`, `NewRecovered` (more than 50% missing values). We will drop these columns.

In [36]:
worldometer_data = worldometer_data.drop(columns=["NewCases", "NewDeaths", "NewRecovered"])
worldometer_data.head()

,Country/Region,Continent,Population,TotalCases,TotalDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,162804.0,2576668.0,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,98644.0,2047660.0,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,41638.0,1377384.0,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,14606.0,676357.0,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,9604.0,387316.0,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

Check the missing values in the dataset `worldometer_data` after dropping the columns `NewCases`, `NewDeaths`, `NewRecovered`.

In [37]:
proportion_of_missing_values(worldometer_data)

Country/Region                 type <class 'str'>                  0.00%
Continent                      type <class 'str'>                  0.48%
Population                     type <class 'numpy.float64'>        0.48%
TotalCases                     type <class 'numpy.int64'>          0.00%
TotalDeaths                    type <class 'numpy.float64'>        10.05%
TotalRecovered                 type <class 'numpy.float64'>        1.91%
ActiveCases                    type <class 'numpy.float64'>        1.91%
Serious,Critical               type <class 'numpy.float64'>        41.63%
Tot Cases/1M pop               type <class 'numpy.float64'>        0.48%
Deaths/1M pop                  type <class 'numpy.float64'>        10.53%
TotalTests                     type <class 'numpy.float64'>        8.61%
Tests/1M pop                   type <class 'numpy.float64'>        8.61%
WHO Region                     type <class 'str'>                  11.96%

With the numeric data type columns (int, float), we will fill the missing values with 0.

In [38]:
# Replace missing values of numeric columns with 0
worldometer_data = worldometer_data.fillna(0)

With the object data type columns, we will fill the missing values with the global constant `No WHO Region` for the column `WHO Region` and `Unknown` for the column `Continent`.

In [39]:
# Replace missing values (0) of WHO Region columns with "N/A"
worldometer_data["WHO Region"] = worldometer_data["WHO Region"].replace(0, "No WHO Region")

In [40]:
# Replace missing values of Continent columns with "Unknown"
worldometer_data["Continent"] = worldometer_data["Continent"].replace(0, "Unknown")

Check the missing values in the dataset `worldometer_data` after handling the missing values.

In [41]:
worldometer_data.isna().sum()

Country/Region      0
Continent           0
Population          0
TotalCases          0
TotalDeaths         0
TotalRecovered      0
ActiveCases         0
Serious,Critical    0
Tot Cases/1M pop    0
Deaths/1M pop       0
TotalTests          0
Tests/1M pop        0
WHO Region          0
dtype: int64

### For `country_wise_lastest`

- Calculating the total number and percentage of missing values in each column of the `country_wise_latest`.

In [42]:
print(country_wise_lastest.isnull().sum())
print(round((country_wise_lastest.isnull().sum() / country_wise_lastest.shape[0]) * 100, 2).astype(str) + ' %')

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64
Country/Region            0.0 %
Confirmed                 0.0 %
Deaths                    0.0 %
Recovered                 0.0 %
Active                    0.0 %
New cases                 0.0 %
New deaths                0.0 %
New recovered             0.0 %
Deaths / 100 Cases        0.0 %
Recovered / 100 Cases     0.0 %
Deaths / 100 Recovered    0.0 %
Confirmed last week       0.0 %
1 week change             0.0 %
1 week % increase         0.0 %
WHO Region                0.0 %
dtype: object

It's clearly seen that there has no missing data in this dataset.

### For `covid_19_clean_complete`
Check the missing values in the dataset `covid_19_clean_complete`:

Identifying any missing values is essential for data quality assurance. This step allows us to handle incomplete data or remove unnecessary duplicates, ensuring a clean dataset.
- First, we will check how many unique values in each column of the dataset `covid_19_clean_complete` by using `isna()` and `sum()` function.

In [51]:
clean_complete.isna().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

It's clearly seen that missing data only appears in the column `Province/State`. We don't really need this column for our analysis, so we will drop it.

In [ ]:
clean_complete = clean_complete.drop(columns=["Province/State"])
clean_complete.isna().sum()

Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
Deaths            0
Recovered         0
Active            0
WHO Region        0
dtype: int64

Thus, there is no duplicated row in the dataset `clean_complete`.

## **Handling duplicated values in the dataset**
### For `worldometer_data`

Find out the number of duplicated values in the dataset `worldometer_data` by using `duplicated()` and `sum()` from `pandas` library.

In [43]:
worldometer_data.duplicated().sum()

np.int64(0)

Thus, there is no duplicated row in the dataset `worldometer_data`.

### For `country_wise_lastest`

To identify any duplicate records by calculating the total number of duplicated rows in the `country_wise_latest`

In [44]:
country_wise_lastest.duplicated().sum()

np.int64(0)

Thus, there is no duplicated row in the dataset `country_wise_latest`.

### For `covid_19_clean_complete`

To identify any duplicate records by calculating the total number of duplicated rows in the `covid_19_clean_complete`

In [54]:
clean_complete.duplicated().sum()

np.int64(0)

Thus, there is no duplicated row in the dataset `covid_19_clean_complete`.