<div style="font-family: Arial, Helvetica, sans-serif;">
    <div style="display: flex;padding-top: 20px">
        <div><strong>Course:</strong> Programming for Data Science</div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Class:</strong></div>
        <div></div>
    </div>
    <div style="display: flex;padding-top: 20px">
        <div style="padding-right: 10px;"><strong>Group:</strong></div>
    </div>
    <div>
        <div style="display: flex;padding-top: 20px">
            <div style="padding-right: 10px;"><strong>Members:</strong></div>
            <div></div>
        </div>
        <table style="font-size: 15px; display:flex;padding-top: 20px">
            <tr>
                <th>No.</th>
                <th>Student ID</th>
                <th>Name</th>
            </tr>
            <tr>
                <td>1</td>
                <td> 22127008 </td>
                <td style="text-align:left;">Đặng Châu Anh</td>
            </tr>
            <tr>
                <td>2</td>
                <td>22127014</td>
                <td style="text-align:left;">Nguyễn Kim Anh</td>
            </tr>
            <tr>
                <td>3</td>
                <td> 22127170 </td>
                <td style="text-align:left;">Trần Dịu Huyền</td>
            </tr>
        </table>
    </div>
    <div style="font-size: 25px ;font-weight: 800; text-align: center;padding-top: 20px;">FINAL PROJECT</div>
    <div style="font-size: 20px ;font-weight: 800; text-align: center;padding-top: 20px;">COVID - 19 ANALYSIS - DATA EXPLORATION</div>
</div>

# **Data Exploration**
## **Import necessary libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Load data**
Read the data from the file `covid_19_clean_complete.csv` and display the 5 rows of the data.

In [2]:
clean_complete = pd.read_csv(r"./data/covid_19_clean_complete.csv")
clean_complete.sample(5)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
33197,Chongqing,China,30.057200,107.874000,2020-05-28,579,6,573,0,Western Pacific
11043,NaN,Colombia,4.570900,-74.297300,2020-03-04,0,0,0,0,Americas
47378,NaN,Japan,36.204824,138.252924,2020-07-21,26463,988,20001,5474,Western Pacific
20133,British Columbia,Canada,53.726700,-127.647600,2020-04-08,1291,43,0,1248,Americas
18737,NaN,Tanzania,-6.369028,34.888822,2020-04-02,20,1,2,17,Africa

## **Number of rows and columns**

#### Number of rows and columns
Number of rows and columns in the dataset `covid_19_clean_complete` will stored in the variables `clean_complete_rows` and `clean_complete_cols` respectively.

In [3]:
clean_complete_rows, clean_complete_cols = clean_complete.shape
print("Number of rows:", clean_complete_rows)
print("Number of columns:", clean_complete_cols)

Number of rows: 49068
Number of columns: 10

#### Column details

In [4]:
clean_complete.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', 'Date', 'Confirmed',
       'Deaths', 'Recovered', 'Active', 'WHO Region'],
      dtype='object')

| Column Name | Description |
| --- | --- |
| `Province/State` | Province or State of the country where cases were reported |
| `Country/Region` | Country where cases were reported |
| `Lat` | Latitude |
| `Long` | Longitude |
| `Date` | Date of the cases |
| `Confirmed` | Number of confirmed cases |
| `Deaths` | Number of deaths |
| `Recovered` | Number of recovered cases |
| `Active` | Number of active cases |
| `WHO Region` | WHO Region |

In [5]:
clean_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  object
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: float64(2), int64(4), object(4)
memory usage: 3.7+ MB

There is a date column in the dataset. We will convert it to a datetime object.

In [6]:
clean_complete['Date'] = pd.to_datetime(clean_complete['Date'])
clean_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49068 entries, 0 to 49067
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  14664 non-null  object
 1   Country/Region  49068 non-null  object
 2   Lat             49068 non-null  float64
 3   Long            49068 non-null  float64
 4   Date            49068 non-null  datetime64[ns]
 5   Confirmed       49068 non-null  int64
 6   Deaths          49068 non-null  int64
 7   Recovered       49068 non-null  int64
 8   Active          49068 non-null  int64
 9   WHO Region      49068 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(3)
memory usage: 3.7+ MB

Besides, for categorical columns like `WHO Region`, we examine the number of unique values. This helps in understanding the diversity of entries.

In [7]:
print("Unique values per categorical column:")
print(clean_complete['WHO Region'].value_counts())

Unique values per categorical column:
WHO Region
Europe                   15040
Western Pacific          10340
Africa                    9024
Americas                  8648
Eastern Mediterranean     4136
South-East Asia           1880
Name: count, dtype: int64

## **Handling missing values**
Identifying any missing values is essential for data quality assurance. This step allows us to handle incomplete data or remove unnecessary duplicates, ensuring a clean dataset.
- First, we will check how many unique values in each column of the dataset `covid_19_clean_complete` by using `isna()` and `sum()` function.

In [8]:
clean_complete.isna().sum()

Province/State    34404
Country/Region        0
Lat                   0
Long                  0
Date                  0
Confirmed             0
Deaths                0
Recovered             0
Active                0
WHO Region            0
dtype: int64

It's clearly seen that missing data only appears in the column `Province/State`. We don't really need this column for our analysis, so we will drop it.

In [26]:
clean_complete = clean_complete.drop(columns=["Province/State"])
clean_complete.isna().sum()

Country/Region    0
Lat               0
Long              0
Date              0
Confirmed         0
Deaths            0
Recovered         0
Active            0
WHO Region        0
dtype: int64

Thus, there is no duplicated row in the dataset `clean_complete`.

## **Handling duplicated values in the dataset**
To identify any duplicate records by calculating the total number of duplicated rows in the `covid_19_clean_complete`

In [9]:
clean_complete.duplicated().sum()

np.int64(0)

Thus, there is no duplicated row in the dataset `covid_19_clean_complete`.

## **Exploratory Data Analysis (EDA)**
In this section, we perform a more in-depth analysis of the dataset to uncover patterns, distributions, and relationships between variables.

### Summary statistics for all numeric columns.

In [10]:
clean_complete.describe()

,Lat,Long,Date,Confirmed,Deaths,Recovered,Active
count,49068.000000,49068.000000,49068,4.906800e+04,49068.000000,4.906800e+04,4.906800e+04
mean,21.433730,23.528236,2020-04-24 12:00:00,1.688490e+04,884.179160,7.915713e+03,8.085012e+03
min,-51.796300,-135.000000,2020-01-22 00:00:00,0.000000e+00,0.000000,0.000000e+00,-1.400000e+01
25%,7.873054,-15.310100,2020-03-08 18:00:00,4.000000e+00,0.000000,0.000000e+00,0.000000e+00
50%,23.634500,21.745300,2020-04-24 12:00:00,1.680000e+02,2.000000,2.900000e+01,2.600000e+01
75%,41.204380,80.771797,2020-06-10 06:00:00,1.518250e+03,30.000000,6.660000e+02,6.060000e+02
max,71.706900,178.065000,2020-07-27 00:00:00,4.290259e+06,148011.000000,1.846641e+06,2.816444e+06
std,24.950320,70.442740,NaN,1.273002e+05,6313.584411,5.480092e+04,7.625890e+04

### The period of the dataset
To know the period of the dataset, we will find the minimum and maximum date in the dataset by using the `min()` and `max()` function.

In [11]:
dates = clean_complete['Date'].unique()
print("Number of unique dates:", len(dates))
print("Earliest date:", dates.min())
print("Latest date:", dates.max())

Number of unique dates: 188
Earliest date: 2020-01-22 00:00:00
Latest date: 2020-07-27 00:00:00

### Does the dataset have data for all countries for all surveying dates?
We will check if the dataset has data for all countries for all surveying dates by using the `nunique()` function for each unique date.

In [12]:
countries = clean_complete['Country/Region'].unique()
print("Number of unique countries:", len(countries))

dates_countries = clean_complete.groupby('Date')['Country/Region'].nunique()
dates_countries[dates_countries != len(countries)]

Number of unique countries: 187

Series([], Name: Country/Region, dtype: int64)

Thus, the dataset has data for all countries for all surveying dates. But compared to the real number of countries in the world (195 countries and regions), the dataset does not have data for all countries.

## Save the cleaned data
Save the cleaned data in `cleaned_data` folder for further analysis.

In [27]:
clean_complete.to_csv(r"cleaned_data/covid_19.csv", index=False)

## Analysis
### **Question 1.** What are total number of Confirmed, Deaths, Recovered and Active cases around the world?

- Answer this question indicating the total number of confirmed, deaths, recovered and active cases around the world.

- Answer this question by finding out the total number of confirmed, deaths, recovered and active cases of all countries in `worldometer_data` and plot them using bar chart.

### **Question 2.** Does the global trend over time for Confirmed/Deaths/Recovered cases evolve over time?

- Answer this question indicates the trend of the number of confirmed, deaths, and recovered cases over time: when it peaks, when it decreases, and when it increases in the time series.

- To answer this question, we will group `clean_complete_data` by `Date` and sum the values of `Confirmed`, `Deaths`, and `Recovered` columns. Then, we will plot the global trend over time for confirmed, deaths, and recovered cases using line charts.

In [ ]:
# Find total confirmed/deaths/recovered/acive cases per day
total_per_day = clean_complete.groupby('Date')[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum().reset_index()
total_per_day.to_csv(r"cleaned_data/total_per_day.csv", index=False)
total_per_day.sample(5)

          Date  Confirmed  Deaths  Recovered   Active
182 2020-07-22   15227725  623540    8541255  6062930
178 2020-07-18   14292198  602130    7944550  5745518
100 2020-05-01    3355922  239881    1026501  2089540
142 2020-06-12    7654725  426512    3558933  3669280
98  2020-04-29    3185195  228742     925752  2030701

### **Question 3.** What are the top 10 countries with the lowest number of deaths/recovered/actived cases?

- Answer this question provides the top 10 countries with the lowest number of case (death, recoverd, active) and by these results, we can see the countries that have the best control of the pandemic and gain some insights into find the least affected regions.
- To answer this question, we will use `worldometer_data` and sort the values in ascending order. Then, we will display the top 10 countries with the lowest number of deaths, recovered, and active cases.

### **Question 4.** What are the top 10 countries with the highest number of deaths/recovered/actived cases?
- Answer this question provides the top 10 countries with the highest number of cases (death, recoverd, active) and by these results, we can see the countries that have the best control of the pandemic and gain some insights into find the most affected regions.
- To answer this question, we will use `worldometer_data` and sort the values in descending order. Then, we will display the top 10 countries with the highest number of deaths, recovered, and active cases.

### **Question 5.** The correlation between population, death cases, recovered case, active case and critical, serious case. Give insights into the relationship between the number of cases and deaths with the population of the country.
- By answering this question, it helps us to understand the relationship between the population and total death cases, total recovered cases, total actived cases and critial, serious case. This information is useful for the to gain insigns about any feature affect the number of cases in that country.
- Answer this question by calculating the correlation matrix between population, cases and deaths. Then, we will plot the correlation matrix using a heatmap.

### **Question 6.** Total cases vs Total tests for each country

### **Question 7.** Any model prediction?